*~
.cproject
.settings
.project
examples
pll/CMakeFiles/
pll/Makefile
pll/cmake_install.cmake
pll/libpll.a
pll_test/
test_scripts/iqtree_release
test_scripts/iqtree_test
tags
test_scripts/iqtree_test_cmds.txt
pllrepo/
build/
/Default-clang
.idea/
.idea/codeStyleSettings.xml
/GPATH
/GRTAGS
/GTAGS
/.dir-locals.el
/iqtree_config.h
eigen/*
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
alignment/CMakeFiles/
alignment/Makefile
alignment/cmake_install.cmake
cmake_utils/neon_test_build/*
example
gsl/CmakeFiles/
gsl/Makefile
gsl/cmake_install.cmake
lbfgsb/CMakeFiles/
lbfgsb/Makefile
lbfgsb/cmake_install.cmake
model/CMakeFiles/
model/cmake_install.cmake
model/Makefile
ncl/CMakeFiles/
ncl/cmake_install.cmake
ncl/Makefile
nclextra/CMakeFiles/
nclextra/cmake_install.cmake
nclextra/Makefile
neon_test_build
pda/CMakeFiles/
pda/cmake_install.cmake
pda/Makefile
sprng/CMakeFiles/
sprng/cmake_install.cmake
sprng/Makefile
tree/CMakeFiles/
tree/cmake_install.cmake
tree/Makefile
cmake_install.cmake
utils/CMakeFiles/
utils/cmake_install.cmake
utils/Makefile
vectorclass/CMakeFiles/
vectorclass/cmake_install.cmake
vectorclass/Makefile
whtest/CMakeFiles/
whtest/cmake_install.cmake
whtest/Makefile
includelog
